FINKOK/Web References/com.finkok.validations/Application.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://facturacion.finkok.com/validation" xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="apps.services.soap.core.views" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xop="http://www.w3.org/2004/08/xop/include" name="Application" targetNamespace="http://facturacion.finkok.com/validation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="apps.services.soap.core.views">
      <xs:complexType name="ValidationResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="sello" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="sello_sat" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sat" nillable="true" type="s0:AcuseSAT" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AcuseSAT">
        <xs:sequence>
          <xs:element minOccurs="0" name="EsCancelable" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoEstatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstatusCancelacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AcuseSAT" type="s0:AcuseSAT" />
      <xs:element name="ValidationResult" type="s0:ValidationResult" />
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://facturacion.finkok.com/validation">
      <xs:import namespace="apps.services.soap.core.views" />
      <xs:complexType name="validate">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="invoice_type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="validateResult" nillable="true" type="s0:ValidationResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="validateResponse" type="tns:validateResponse" />
      <xs:element name="validate" type="tns:validate" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validate">
    <wsdl:part name="validate" element="tns:validate" />
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part name="validateResponse" element="tns:validateResponse" />
  </wsdl:message>
  <wsdl:portType name="Application">
    <wsdl:operation name="validate" parameterOrder="validate">
      <wsdl:documentation>This function provides the validation Service </wsdl:documentation>
      <wsdl:input name="validate" message="tns:validate" />
      <wsdl:output name="validateResponse" message="tns:validateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validate">
      <soap:operation soapAction="validate" style="document" />
      <wsdl:input name="validate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidationSOAP">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="https://facturacion.finkok.com/servicios/soap/validation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>